.error {
  color: #c00;
  text-align: center;
}

.loader {
  font-style: italic;
  text-align: center;
  animation: fading 1s infinite linear;
}

.quote {
  font-style: italic;
  margin-bottom: 10px;
}

.author {
  font-weight: bolder;
  color: var(--secondary-color);
}

@keyframes fading {
  from { opacity: 0.1; }
  to { opacity: 1; }
}
