:root {
  --font-family: tahoma, serif;
  --primary-color: #aaa;
  --secondary-color: #ddd;
  --bright-color: #fff;
  --dark-color: #000;
  --background-color: #333;
  --border-color: #111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 12px var(--font-family);
}

body {
  color: var(--primary-color);
  padding: 60px 0;
  background-color: var(--dark-color);
}

main {
  height: calc(100vh - 120px);
  max-width: 1000px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }
}
